[submodule "locales"]
	path = locales
	url = https://github.com/jorgev259/soc_site_i18n
	branch = main
[submodule "src/server"]
	path = src/server
	url = https://github.com/jorgev259/soc_server
	branch = tech-rework
