@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.coverContainer {
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;

  img {
      object-fit: contain;
      transition: transform .2s, border-radius .3s;
      transform: scale(1);
      
      @include media-breakpoint-down(lg) { 
          position: relative !important;
          height:auto !important;
          width: 100% !important;
      }
  }

  img:hover {
    transform: scale(1.02);
  }
}

#coverModal {
  .container {
    img {
      object-fit: contain;
    }
  }
}