$download-blue: #2185f5;
.download {
    font-family: "Roboto", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 8px 8px 8px 8px;
    width: 100%;
    height: 100%;
    margin: 2px;
    padding: 0;
  }
  
  .download:hover {
    background-color: rgba(255, 255, 255, 0);
    border-color: $download-blue;
    color: $download-blue;
    transition: all .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    border-width: 1px;
  }

  $direct-color: #ffdb37;
  .download.direct{
      pointer-events: all !important;
  }
  
 .download.direct:hover {
    color:$direct-color;
    background-color: rgba(255, 255, 255, 0);
    border-color: $direct-color;
    color: $direct-color;
  }