.container {
  .star {
    color: white;
  }

  .star.gold {
    color: goldenrod;
  }
}

.container.active:hover{
  cursor: pointer;

  .star {
    color: goldenrod;
  }

  .star:hover ~ .star {
    color: white;
  }
}