.discTabRow {
  button:disabled {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
    opacity: 1;
  }
}

.trackBox {
  padding: 5px;
  border-style: solid;
  border-width: 0px 2px 2px 2px;
  border-color: #efefef;

  position: relative;
  height: 100%;
  overflow-y: auto;

  table {
    position: absolute;
  }

  td {
    padding: 8px;
  }
}

.trackBox.single {
  border-top-width: 2px;
}
