.discTabRow {
  :global(.col):not(:last-child) {
    padding-right: 0px;
  }

  :global(.col):not(:first-child) {
    padding-left: 0px;
  }


  .discTab {
    border-width: 2px;

    & {
      transform: translateY(2px);
    }
  }

  .discTab:disabled {
    color: white;
    opacity: 1;
    border-bottom-width: 0px;
  }
}

.trackBox {
  padding: 5px;
  border-style: solid;
  border-width: 0px 2px 2px 2px;
  border-color: #efefef;

  position: relative;
  height: 100%;
  overflow-y: auto;

  table {
    position: absolute;
  }

  td {
    padding: 8px;
  }
}

.trackBox.single {
  border-top-width: 2px;
}