.root {
    background-color: rgb(var(--bs-dark-rgb));

    @media (min-width: 768px) {
        max-width: 300px;
    }

    h1 {
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
        text-shadow: 0 0 10px rgba(0,0,0,.5);
        font-family: "Rubik",sans-serif;

        a {
            color: white !important; 
            text-decoration: none;
        }
    }

    h1:hover {
        a {
            color: #00d4ff !important;
            text-decoration: underline;
        }      
    }

    .section{
        background-color: #3F3F3F;
        border-radius: 8px;
        padding: 15px;
        position: relative;

        h5 {
            font-weight: 700;
            text-transform: uppercase;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            font-family: 'Rubik', sans-serif;
        }

        span:hover {
            opacity: .9 !important;
            cursor: pointer;
        }
    }
}

.discord {
    height: auto;
     width: auto; 
     max-height: 100px;
     max-width: 100%;
     border-radius: 10px;
}

.ad {
    iframe {
        border-radius: 8px;
    }
}

