@import '../../../styles/variables.scss';

.container {
  height: 100%;
  background-color: $green-bg;
  max-width: 2059px;
}

.blackButton {
  text-decoration: none;

  * {
    color: white;
    background-color: #222222;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Rubik', sans-serif;
    transition:
      color 0.1s ease-in-out,
      background-color 0.1s ease-in-out;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 8px;
  }
}

.blackButton:hover * {
  color: $link-color;
  cursor: pointer;
  text-decoration: underline;
}
