@import '~normalize.css/normalize.css';

@import '~bootstrap/scss/functions';

$dropdown-spacer: 0;
$dropdown-bg: #3f3f3f;
$dropdown-link-hover-bg: #4f4f4f;

@import '~bootstrap/scss/bootstrap.scss';
@import '~react-toastify/dist/ReactToastify.css';

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';

@import './variables.scss';

html,
body {
  width: 100%;
  height: 100%;
  color: white;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $green-bg;
}

footer {
    padding: 10px;
    background-color: rgb(var(--bs-dark-rgb)) !important;
    width: 100%;

    iframe {
        border-style: none; 
        border-width: 0;
    border-color: #ffffff;
        padding: 0; 
        height: 220px; 
        width: 100%;
    }
}

.loadingAnim {
  position: relative;
  overflow: hidden;
}

.loadingAnim:after {
  content: '';
    transform: translateX(-100%) rotate(140deg);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    animation: loadingSlide 1.55s infinite;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 40%
  );
}

@keyframes loadingSlide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.blackBox {
    background-color: rgba(17, 17, 17, 0.9);
    border: 2px solid rgba(17, 17, 17, 0.9);
    border-radius: 25px;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.72);
    padding: 10px;
}
